@use './componentsStyle/postItem';
@use './page/app';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	background-color: rgb(19, 18, 18);
     font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
	color: rgb(255, 255, 255);
}
